.container {
  width: 110px;
  height: 55px;
  border: 2px solid black;
  position: relative;
  background-color: #aaa;
  transition: background-color 0.3s ease-in;
}

.active {
  border-color: #01ff70;
  background-color: #2ecc40;
}

.switch {
  border: 2px solid;
  background-color: #ccc;
  position: absolute;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  top: 2.5px;
  left: 5px;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

.active > .switch {
  border-color: #0074d9;
  background-color: #7fdbff;
  transform: translateX(100%);
}
